You are given two optimization problem formulations.
Decide if they are equivalent formulations.

Formulation A:
{{ info_a_json }}

Formulation B:
{{ info_b_json }}

Provide 1-2 sentences of reasoning, then end your response with exactly one of:
Equivalent
Not Equivalent

When uncertain, respond "Not Equivalent".
